# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* Matplotlib

| Data Science Tools |
|---|
|Pandas|
|Spark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
x = (3*4)+5 # This a simple arithmetic expression to multiply then add integers
print(x)

In [ ]:
def min_to_hours(x):
    return round(x/60,2)
x = 200
print(min_to_hours(x))

**Objectives:**
- Python
- SQL
- R

## Author
Burak Karakaya